<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtfycg.order.mapper.orderMapper">

    <resultMap id="BaseResultMap" type="com.qtfycg.order.domain.entity.order">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="productId" column="product_id" />
            <result property="quantity" column="quantity" />
            <result property="amount" column="amount" />
            <result property="status" column="status" />
            <result property="contactName" column="contact_name" />
            <result property="contactPhone" column="contact_phone" />
            <result property="remark" column="remark" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,product_id,quantity,amount,status,
        contact_name,contact_phone,remark,create_time,update_time
    </sql>
</mapper>
