<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtfycg.user.mapper.userMapper">

    <resultMap id="BaseResultMap" type="com.qtfycg.user.domain.entity.user">
            <id property="id" column="id" />
            <result property="status" column="status" />
            <result property="name" column="name" />
            <result property="password" column="password" />
            <result property="phone" column="phone" />
            <result property="email" column="email" />
            <result property="role" column="role" />
            <result property="avatar" column="avatar" />
            <result property="names" column="names" />
            <result property="sex" column="sex" />
            <result property="age" column="age" />
            <result property="tel" column="tel" />
            <result property="identityCard" column="identityCard" />
    </resultMap>

    <sql id="Base_Column_List">
        id, status, name, password, phone, email, role, avatar, names, sex, age, tel, identityCard
    </sql>
</mapper>
